*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    list-style: none;
    text-decoration: none;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-size: 2.4rem;
    color: white;
    font-family: 'Open Sans', sans-serif;
}

body::-webkit-scrollbar {
    width: .7rem;
    background-color: #00070d;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    border-radius: 10rem;
    background-color: #0095c7;
}

h1 {
    font-size: 4.8rem;
}

h2 {
    font-size: 2rem;
}

img {
    max-width: 100%;
}

/* Utilities */

.primary-color {
    color: #0095c7;
}

.margin-bottom-15 {
    margin-bottom: 1.5rem;
}

.margin-top-30 {
    margin-top: 3rem;
}

.margin-top-300 {
    margin-top: 30rem;
}

.margin-top-100 {
    margin-top: 10rem;
}

.margin-top-150 {
    margin-top: 15rem;
}

.margin-top-400 {
    margin-top: 40rem;
}

.margin-top-500 {
    margin-top: 50rem;
}

.margin-left-300 {
    margin-left: 30rem !important;
}

.margin-right-100 {
    margin-right: 10rem !important;
}

.container {
    position: relative;
    max-width: 112rem;
    width: 60%;
    margin: 0 auto 0 auto;
}

@media screen and (max-width: 768px) {
    .container {
        width: 75%;
    }
}

.divider {
    background-color: #fff;
    height: .3rem;
    width: calc(100% + 2rem);
    margin: 2rem 0 1rem 0;
}

.nav-bar {
    padding: 2rem 2.5rem;
    position: absolute;
    display: flex;
    min-width: 100%;
    z-index: 1000;
    justify-content: space-between;
    background: #00070e;
    overflow: hidden;
    transition: all .5s;
}

.nav-bar::after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(0deg, rgba(0, 128, 255, 0.113) 0%, transparent 100%);
}

@media screen and (max-width: 768px) {
    .nav-bar {
        position: fixed;
    }
}

.nav-bar__background {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100vh;
    z-index: -1;
    background-image: url(./img/bg-image-2.jpg);
}

.nav-bar__background-video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.nav-bar__brand {
    color: white;
    z-index: 1500;
}

.nav-bar__list {
    position: relative;
    display: flex;
    justify-content: end;
    gap: 3rem;
    z-index: 1500;
}

.nav-mobile__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1rem;
    height: 100vh;
    width: 0;
    opacity: 0;
    transform: scale(1);
    transition: inherit;
}

.nav-mobile__list--link {
    display: inline-block;
    padding: 1rem 4rem;
    color: white;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 0%);
    background-size: 225%;
    text-transform: uppercase;
    transition: all .5s ease;
}

.nav-mobile__list--link:hover,
.nav-mobile__list--link:focus,
.nav-mobile__list--link:active {
    outline: none;
    background-position: 100%;
    color: #00070d;
    transform: translateX(.5rem);
}

.navigation__button {
    position: relative;
    display: none;
    z-index: 1500;
}

.navigation__button:hover {
    cursor: pointer;
}

.navigation__icon,
.navigation__icon::after,
.navigation__icon::before {
    display: inline-block;
    width: 3rem;
    height: .3rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10rem;
    transition: all .3s ease;
}

.navigation__icon {
    position: relative;
}

.navigation__icon::before {
    content: '';
    position: absolute;
    top: -1rem;
}

.navigation__icon::after {
    content: '';
    position: absolute;
    top: 1rem;
}

.navigation__button:hover .navigation__icon::before {
    top: -1.3rem;
}

.navigation__button:hover .navigation__icon::after {
    top: 1.3rem;
}

.navigation__mobile {
    height: 100vh;
    position: fixed;
    opacity: 0;
    width: 0;
    overflow: hidden;
    z-index: 1400;
    top: 0;
    left: 0;
    transform: scale(1);
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__background {
    position: fixed;
    top: 0rem;
    right: -5rem;
    width: 3rem;
    height: 3rem;
    transform: scale(1);
    overflow: hidden;
    opacity: 1;
    transition: width .8s cubic-bezier(0.68, -0.55, 0.265, 1.55), height .8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.navigation__background-video {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 1100;
    object-fit: cover;
    background-image: url(./img/bg-image-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.navigation__checkbox {
    display: none;
}

.navigation__checkbox:checked~.nav-bar__list {
    display: none;
}

.navigation__checkbox:checked~.navigation__mobile {
    opacity: 1;
    width: 100%;
}

.navigation__checkbox:checked~.navigation__mobile .nav-mobile__list {
    opacity: 1;
    width: 100%;
}

.navigation__checkbox:checked~.navigation__background {
    width: calc(100vw + 5rem);
    height: 100vh;
}

.navigation__checkbox:checked~.navigation__button .navigation__icon {
    background-color: transparent;
}

.navigation__checkbox:checked~.navigation__button .navigation__icon::before {
    top: 0;
    transform: rotate(135deg);
}

.navigation__checkbox:checked~.navigation__button .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg);
}

.navigation__checkbox:checked~.navigation__button {
    display: block;
    transform: translateY(-.75rem);
}

@media screen and (max-width: 768px) {
    .nav-bar__list {
        display: none;
    }

    .navigation__button {
        display: flex;
        align-items: center;
        width: 3rem;
        height: 3rem;
    }
}

.nav-bar__list--link {
    color: #f7f7f7;
    font-size: 2.2rem;
    text-decoration: none;
    display: inline-block;
    background-size: 225%;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, transparent 0%);
    transition: all .3s;
}

.nav-bar__list--link:hover,
.nav-bar__list--link:active,
.nav-bar__list--link:focus {
    /*outline: none;
    background-color: white;
    box-shadow: 0 1rem 2rem #0095c7;
    transform: rotate(5deg) scale(1.1);*/
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 0%);
    outline: none;
    background-position: 100%;
    color: #00070d;
    transform: translateX(.5rem);
}

.header {
    overflow: hidden;
}

.header__diego {
    height: 100vh;
    min-height: 5.6rem;
    position: relative;
    background-color: #00070d;
    display: flex;
    justify-content: center;
    align-items: center;

}

@media screen and (max-width: 990px) {
    .header__title {
        font-size: 3.8rem;
    }
}

@media screen and (max-width: 568px) {
    .header__title {
        font-size: 3rem;
    }
}

.header__title-description {
    color: #8e979f;
}

.header__bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
}

.header__content {
    z-index: 200;
    padding: 0 1.5rem 0 1.5rem;
    margin-top: 7.3rem;
}

.header__bg-video__content {
    height: 100%;
    width: 100%;
    background-image: url(./img/bg-image-2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}

.down-arrow {
    position: absolute;
    z-index: 300;
    background-image: linear-gradient(0deg, #00070d, #007bc9);
    bottom: 0;
    right: 0;
    color: #8e979f;
    overflow: hidden;
    position: absolute;
    display: flex;
    padding: 1rem;
    height: 8rem;
    width: 6rem;
    outline: none;
}

.down-arrow::before {
    transform: rotate(90deg);
    content: '→';
}

.down-arrow:hover::before,
.down-arrow:active::before,
.down-arrow:focus::before {
    animation: bounce 1s infinite ease;
}

@keyframes bounce {
    0% {
        transform: rotate(90deg) translateX(0rem);
    }

    50% {
        transform: rotate(90deg) translateX(.5rem);
    }

    100% {
        transform: rotate(90deg) translateX(0rem);
    }
}

.section--work {
    background-color: azure;
}

.work {
    background: #040c13;
    background: linear-gradient(180deg, #00070d 0%, #041523 88%, #00070d 99%);
    overflow: hidden;
    position: relative;
}

.section__content {
    position: relative;
    padding: 0 1.5rem 8rem 1.5rem;
}

.section__header {
    padding: 2.5rem 1.5rem;
}

.section__title {
    position: relative;
    margin-bottom: 1rem;
    color: #8e979f;
    font-weight: 300;
    font-size: 2rem;
}

.section__title__description {
    font-weight: 700;
    font-size: 3rem;
    color: #8e979f;
}

@media screen and (max-width: 990px) {
    .section__title__description {
        font-size: 2rem;
    }
}

.bullet {
    position: relative;
}

.bullet::after {
    position: absolute;
    content: '';
    background-color: #00070d;
    border: .2rem solid #007bc9;
    border-radius: 50%;
    height: .9rem;
    width: .9rem;
    top: 0;
    left: -.4rem;
    z-index: 150;
}

.bullet__title::before {
    position: absolute;
    content: '';
    background-color: #00070d;
    border: .2rem solid #007bc9;
    border-radius: 50%;
    height: .9rem;
    width: .9rem;
    top: 1rem;
    left: -2.9rem;
    z-index: 150;
}

.projects {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    z-index: 300;
    justify-content: center;
}

.section-mark--automation {
    position: relative;
}

.section-mark--automation::before {
    position: absolute;
    content: "SDET";
    top: -8rem;
    right: -1rem;
    font-size: 27rem;
    color: #02101c;
    font-weight: 700;
}

.section-mark--web::before {
    position: absolute;
    content: "WEB";
    top: -30rem;
    right: -1rem;
    font-size: 27rem;
    color: #041c31;
    font-weight: 700;
}

@media screen and (max-width: 1024px) {

    .section-mark--automation::before,
    .section-mark--web::before {
        font-size: 10rem;
    }

    .section-mark--web::before {
        top: -12rem;
    }
}

.project {
    position: relative;
    display: flex;
    justify-content: center;
}

.project--33_3-width {
    max-width: 33.333333%;
    flex: 0 0 33.333333%;
}

.project--50-width {
    max-width: 50%;
    flex: 0 0 50%;
}

.project__box {
    position: relative;
    display: block;
    z-index: 900;
    transform-style: preserve-3d;
    perspective: 70rem;
    transition: transform .1s ease, box-shadow .1s ease;
}

.project-hidden {
    opacity: 0;
    filter: blur(.5rem);
    transform: translateX(-100%);
    transition: opacity .5s, filter .5s, transform .5s;
    pointer-events: none;
}

@media(prefers-reduced-motion) {
    .project-hidden {
        transition: none;
    }
}

.project-show {
    filter: none;
    transform: translateX(0);
    opacity: 1;
}

.project--web {
    min-width: 41rem;
    height: 23rem;
}

.project--mobile {
    min-width: 23rem;
    max-height: 41rem;
}

.project__box:hover {
    box-shadow: .4rem 2.1rem 4.4rem -1.3rem rgba(0, 0, 0, .75);
    z-index: 950;
}

.project_nav--arrow {
    transition: all .4s;
}

.project__box:hover .project_nav--arrow {
    transform: translateX(1.5rem);
}

.project__box:focus {
    outline: none;
    box-shadow: .4rem 2.1rem 4.4rem -1.3rem rgba(0, 0, 0, .75);
    z-index: 950;
    transform: scale(1.1);
}

.project__meta {
    position: absolute;
    pointer-events: none;
    left: -6rem;
    bottom: 1rem;
    display: inline-block;
    z-index: 500;
    transform: translateZ(4rem);
    transition: all .1s;
    color: white;
    line-height: 1.2;
    font-size: 2rem;
}

.project__nav {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.6rem;
}

.project__sut {
    object-fit: cover;
    object-position: center center;
    min-width: inherit;
    width: inherit;
    height: inherit;
    max-height: inherit;
    border-radius: inherit;
}

.project__box::before {
    background-image: linear-gradient(65deg, hsla(210, 50%, 7%, 0.9), transparent 50%);
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 400;
    border-radius: inherit;
}

picture {
    perspective: 700px;
}

.project__framework-icon {
    position: absolute;
    pointer-events: none;
    width: 5rem;
    border-radius: .5rem;
    top: 5rem;
    right: -1.5rem;
    z-index: 500;
    transform: translateZ(3rem);
}

@media screen and (max-width: 1024px) {

    .projects {
        flex-direction: column;
        row-gap: 10rem;
        margin-top: 8rem;
    }

    .project {
        max-width: 83.333333%;
        flex: 0 0 83.333333%;
        margin: 0 auto;
    }

    .project__box {
        margin: 0 !important;
        width: 23rem;
        min-width: 20rem;
        display: flex;
        justify-content: center;
        margin-left: 10rem !important;
    }

    .project--web {
        height: 16rem;
    }
}


.about {
    background: rgb(4, 12, 19);
    background: linear-gradient(180deg, #000616 0%, #00060d 88%, #000616 100%);
    background: linear-gradient(180deg, #000811 90%, #000408 99%);
    position: relative;
}

.code-wrap {
    font-family: 'Roboto Mono', monospace;
    font-size: 1.8rem;
}

.code--line {
    position: relative;
    z-index: 500;
    line-height: 1.45;
}

.code--line::after {
    position: absolute;
    content: attr(data-line-nr);
    left: -6rem;
    top: 0;
    width: 2.4rem;
    display: flex;
    flex-direction: row-reverse;
}

.code--dot {
    display: inline;
    color: transparent;
}

.code--math {
    color: #ff0062;
    display: inline;
}

.code--methods {
    color: #ff0062;
    display: inline;
}

.code--class_name {
    color: #ffcb6b;
    display: inline;
}

.code--bracket--1 {
    color: #ffd70e;
    display: inline;
}

.code--bracket--2 {
    color: #cc70d6;
    display: inline;
}

.code--bracket--3 {
    color: #109ff2;
    display: inline;
}

.code--scope {
    color: #ff5370;
    display: inline;
}

.code--prop {
    color: #f0716c;
    display: inline;
}

.code--string {
    color: #eeff17;
    color: #00ff4c;
    display: inline;
    overflow-wrap: break-word;
}

.code--mthd {
    color: #1becdb;
    display: inline;
}

.cursor::before {
    content: '|';
    color: white;
    animation: blink 1s infinite ease;
}

@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.timeline {
    position: absolute;
    background-color: #007bc9;
    width: .1rem;
    height: 100%;
    z-index: 150;
    top: 0;
    left: -10px;
    left: -1rem;
}

.timeline--alt {
    height: 4000%;
}


.footer {
    background-color: #000408;
}

.footer__social-content {
    margin-top: 10rem;
}

.footer__social-title {
    font-size: 2.25rem;
    margin-bottom: 1rem;
    font-weight: 500;
}

.contact-list__item {
    overflow-wrap: break-word;
    margin: .2rem 0;
}

.contact-list__item--link {
    color: #007bc9;
    font-size: 2rem;
}

.contact-list__item--icon {
    width: 2.2rem;
    margin-right: .9rem;
}

.copy {
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 1.4rem;
    color: #8e979f;
}

.rol-word {
    position: absolute;
    opacity: 0;
}

.letter {
    display: inline-block;
    position: relative;
    transform: translateZ(2.5rem);
    transform-origin: 50% 50% 2.5rem;
}

.letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
    transform: rotateX(-90deg);
}

.letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}